@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');


.area{
  background: #c2c9ef;  
  background: -webkit-linear-gradient(to left, #5e608a, #494ea8);  
  width: 100%;
  height:calc(100vh - 88px);
  position: relative;
  z-index: 2;
}
.registerForm{
  z-index: 1;
  padding: 20px;

}
.area .registerForm .otpInput{
    z-index:4;
    width: 20%;

}

.area .registerForm .codeInputs{
   width: 100%;
   text-align: center;
}

.area .registerForm .codeInputs input{
    border-radius:0;
    width:50%;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
  }
  
   .emailWord{
    font-size: 25px;
    color: red;
    font-weight: 500;
  }
  .authTitle {
    font-size: 27px;
    text-align: center;
font-weight: 600;
  }
  


@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}


.eyeIcon1 ,.arEyeIcon {
    position: absolute;
    left: 2%;
    width:22px;
    margin-left: auto;
    top:15px;
}

.enEyeIcon{
position: absolute;
right: 12%;
width:24px;
margin-left: auto;
}



/* Base styles for the form */
.form-floating {
    position: relative;
    margin-bottom: 20px;
    
    /* Make the form support RTL layout */
    &.rtl {
      direction: rtl; /* Set direction to RTL */
      
      label {
        right: 10px; /* Position label from the right */
      }
      
      input {
        padding-right: 10px; /* Add padding on the right for input */
      }
    }
  
    input {
      width: 100%;
      padding: 5px;
      font-size: 16px;
      border: 1px solid #ccc;
      outline: none;
      transition: all 0.3s ease;
      &:focus {
        border-color: #333;
      }
  
      /* When the input is not empty, apply a class to float the label */
      &:not(:placeholder-shown) + label,
      &:focus + label {
        transform: translateY(-20px);
        font-size: 16px;
        color: #333;
      }
    }
  
    label {
      position: absolute;
      right: 10px; /* RTL positioning */
      top: 10px;
      font-size: 16px;
      color: #aaa;
      transition: all 0.3s ease;
      pointer-events: none; /* Prevent the label from blocking the input */
    }
  }